@charset "UTF-8";
body{
    background-image: linear-gradient(to left, #ff0000, white);
    margin: 0px;
}
header{
    background-color: rgba(220, 20, 60, 0.562);
    text-align: center;
    border-style: groove;
    border-color: rgb(255, 255, 26);
    margin: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);
    border-radius: 0px 30px 30px 30px;
}
nav{
    text-align: right;
    margin: 30px;
    padding: 30px;
    color: whitesmoke;
}
nav > a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: yellow;
}
.links{
    padding: 10px;
    font-family: cursive;
}
footer{
    margin: 0px;
    background-color: black;
    color: white;
    padding: 0px;
    text-align: center;
}
footer > p{
    padding: 1px;
}
main{
    margin: 0.5em;
}
article{
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.705);

}
.texto1{
    text-align: justify;
    text-indent: 20px;
}
article > aside{
    background-color: beige;
    text-align: right;
    border-radius: 10px;
    
}
#lorem1{
    font-size: 24px;
}