@charset "UTF-8";

*{
    font-family: cursive;
}
body{
    background-image: linear-gradient(to right, #1C17A6, #030640, #080C59, #0511F2, #FFFF00);
}
main{
    background-color: white;
    width: 800px;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #020531e5;
}
h1{
    color: #FFFF00;
    text-align: center;
    text-shadow: 2px 1px 0px #3b3b01bd;
}
h2{
    color: #1C17A6;
}
h3{
    color: #1C17A6;
}
p {
    text-align: center;
}