@media print {
  * {
  font-family: 'Courier New', Courier, monospace;
  }

  main h1{
    text-shadow: none;
    color: black;
  }

  main::after{
    content: 'Site impresso';
    text-decoration: overline;
  }

  #phone{
    display: none;
  }
  #tablet{
    display: none;
  }
  #print{
    display: block;
  }
  #pc{
    display: none;
  }
  #tv{
    display: none;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  body{
    background: url(../imgs/back-tablet.jpg)
  }
  #phone{
    display: none;
  }
  #tablet{
    display: block;
  }
  #print{
    display: none;
  }
  #pc{
    display: none;
  }
  #tv{
    display: none;
  }
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
  body{
    background: url(../imgs/back-pc.jpg)
  }
  #phone{
    display: none;
  }
  #tablet{
    display: none;
  }
  #print{
    display: none;
  }
  #pc{
    display: block;
  }
  #tv{
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body{
    background: url(../imgs/back-tv.jpg)
  }
  #phone{
    display: none;
  }
  #tablet{
    display: none;
  }
  #print{
    display: none;
  }
  #pc{
    display: none;
  }
  #tv{
    display: block;
  }
}